@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html,
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.centrar {
    margin-left: auto; /* testeo centrar div */
    margin-right: auto;
}

body {
    background: rgba(29, 30, 34);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Quicksand';
}

.loading-box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5), -4px -4px 16px rgba(255, 255, 255, 0.05);
}

.loading-box-2 {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5), -4px -4px 16px rgba(255, 255, 255, 0.05);
    display: none;
}

.contenedor-idiomas {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display:none;
    align-items: center;
    color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5), -4px -4px 16px rgba(255, 255, 255, 0.05);
    
}

.button {
    border-radius: 12px;
    padding: 8px;
    background-color: rgb(139, 11, 11);
    
}

.button:hover {
    border-radius: 12px;
    padding: 8px;
    background-color: rgb(208, 133, 133);

}

.button a {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: all 0.15s linear;
    letter-spacing: 3px;
}

.button a:hover {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(32, 26, 26);
    
}

.loading-title {
    font-size: 1.5em;
    transform: translateY(-8px);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
}

.modificado {
    font-size: 1em;
}

 @media (max-width: 832px) {
        .loading-box {
        display: none;
     }
     .loading-box-2 {
        display: flex;
     }
    .modificado {
        padding-left: 20px;
        font-size: 12px;
     }


 }